<h1 id="greeting">Welcome to the Task Manager</h1>

<ul id="buttons">
  <li><button><a href="/tasks">Task Index</a></button></li>
  <li><button><a href="/tasks/new">New Task</a></button></li>
</ul>

<body>
  <img id="freak-out" src="http://jenontheedge.com/wp-content/uploads/2012/04/Home-Alone-HQ-home-alone-26262040-1000-1400.jpg" alt="Freaking out.">
</body>
